<div class="subtitle">
  <h1>つぶやき</h1>
</div>
<p><%= notice %></p>
<div class="tweet">
  <%= link_to 'つぶやく', new_kadai_path %>
</div>
<br>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
<% @kadais.each do |kadai| %>
  <tr>
    <td><%= kadai.title %></td>
    <td><%= kadai.content %></td>
    <td><%= link_to '確認', kadai_path(kadai.id) %></td>
    <td><%= link_to "編集", edit_kadai_path(kadai.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '削除', kadai_path(kadai.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
  <% end %>
</table>
